
<div class="control-group">
  <%= f.label :address, "Stop", :class => 'control-label' %>
<div class="controls">
  <%= f.text_field :address, class: 'span5'  %>
<%= link_to_remove_association image_tag("cross.png"), f %>
</div>
</div>
