<div id="midcontainer">
<h1>about</h1>
<h2>What is Ozride?</h2>
Ozride believes that travelling can still be cheap, green and fun. It is a simple way to share a ride, save money and gas, reduce auto emissions and find new friends.

<h2>Our Network</h2>
Ozride.com.au connects people in Australia so they can share rides.

<h2>Our Team</h2>
Ozride was founded by 2 University of Sydney students.

</div>
