<div id="midcontainer">
	<h1>Contact Us</h1>
<p>Any question about Ozride? Looking for a carpooling solution?</p>
Please contact xx@ozride.com.au

Want to share your carpooling story?
Please write to xx@ozride.com.au

Phone: xxxx xxxx
Fax: xxxx xxxx

</div>