<div id="midcontainer">
	<h1>FAQ</h1>
What is Ozride?<br>
Is Ozride hiring?<br>
is Ozride on Facebook?<br>
How do I contact Ozride?<br>
How do I create an account?<br>
Why do I need Facebook to create an account?<br>
etc.
</div>