<div id="midcontainer">
	<h1>Jobs</h1>
<p>We are energetic, diverse and fun team of people. We encourage creativity. We value teamwork, cooperation, integrity, productivity and diversity.</p>
<p>Please send your resume and cover letter to jobs@ozride.com.au</p>

<h3>Current Openings</h3>
<p>none.</p>
</div>